/* ---- reset ---- */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  }


*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}




/* ---- typography ---- */

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 25;
  color: #848484;
}

h2{
  color: #3498DB;
  font-weight: bold;
  font-size: 100;
  font-family: 'Josefin Slab', serif;
}

/* ---- layout ---- */

/* ---- main ---- */

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ---- navbar ---- */
nav {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3498DB;
  color: white;

}

.navlinks {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
}

.navlinks a {
  text-decoration: none;
  color: white;
  display: flex;
  margin-right: 20px;
}

/* ---- header ---- */

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* x axis because column */
  justify-content: space-evenly; /*y axis because column */
  width: 100%;
  height: 800px;
  padding: 0px;

  color: black;

}
header article:first-child {
  width: 33%;
  height: 150px;
  background-image: url("assets/img/mints.png");            
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin: 0px;
  height: auto;
}
header article:nth-child(2) {
  width: 33%;
}

/* ---- first section ---- */

  #first-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  
  #properties {
    display: flex;
    flex-direction: row;
  }


.card {
  width: 33%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  justify-content: space-between;

}

#tinbox {
  width: 100%;
  position: center;


}


/* ---- second section ---- */
.formsection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#form-box{
  background-color:lightgray;
  height: auto;
  width: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  padding-top: 15px;
  padding-right: 15px;
  height: auto;
  color: none;
  border: none;
  border-bottom: 1.5px solid black;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  
}

/* ---- footer ---- */

/* ---- components ---- */

button {
  width: 200px;
  background-color: #2E3e5f;
  border-radius: 50px;
  box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  height: 50px;
  border: none;
}

#mints {
  max-width: 100%;
  height: auto;
}


footer {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3498DB;
  color: white;

}

footer h3 {
  margin-left: 15px;
}
footer div {
  margin-right: 30px;
  align-items: center;
  color: white;
}

/* ---- css shame ---- */







