/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}




/* ---- typography ---- */

body {
  font-family: 'Josefin Slab', serif;
}

h2{
  color: #3498DB;
  font-weight: bold;
}

/* ---- layout ---- */

/* ---- main ---- */

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ---- navbar ---- */
nav {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3498DB;
}

.navlink {
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.navlinks a {
  text-decoration: none;
  color: black;
}

/* ---- header ---- */

header {
  display: flex;
  flex-direction: row;
  align-items: center; /* x axis because column */
  justify-content: space-evenly; /*y axis because column */
  width: 100%;
  height: 800px;
  background-image: url("assets/img/mints.png");            
  background-repeat: no-repeat;
  background-position: left;
  color: black;

}
header article:first-child {
  width: 33%;
  height: 150px;

}
header article:nth-child(2) {
  width: 33%;
  height: 150px;
}

/* ---- first section ---- */

  #first-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }

  #first-section article:first-child {

  }

  #content-subsection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #properties {
    display: flex;
    flex-direction: row;
  }


  .joinsection  {
  display: flex;
  flex-direction: row;
  align-items: center; /* x axis because column */
  justify-content: space-evenly; /*y axis because column */
  width: 100%;
  height: 500px;
  }

/* ---- footer ---- */

/* ---- components ---- */

button {
  width: 200px;
  background-color: #3498DB;
  border-radius: 50px;
  box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  height: 50px;
}

/* ---- css shame ---- */




html {
  scroll-behavior: smooth;
}

#menu {
    width: 100%;
    background-color: green;
    position: fixed;
    position: fixed;
    overflow: auto;  
}

nav li {
    display: inline;
}


#top {
  height:50px;
}

#section-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-box {
  background-color: bisque;
  height: 50%;
  width: 25%;
  padding: 5%;
}

input {
  padding-top: 15px;
  padding-right: 15px;
  height: auto;
  color: none;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  
}


input {
  text-align: left top;
  }

#signup {
  color: white;
  background-color: black;
  }

